<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
<div id="container"></div>


<script src="{{ idp_url }}/auth/js/keycloak.js"></script>
<script>

    kc = Keycloak("http://127.0.0.1:{{ port }}/keycloak.json");
    kc.init({
        onLoad: 'login-required'

    }).success((authenticated) => {
        console.debug("Authenticated: " + authenticated);
        console.debug(kc.token);

        tokens = {
            access_token: kc.token,
            refresh_token: kc.refreshToken
        };

        const container = document.getElementById("container");

        fetch("http://127.0.0.1:{{ port }}/deliver-tokens", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(tokens)
        })
            .then(response => {
                if (response.ok) {
                    container.textContent = "It's all good, man";
                } else {
                    container.textContent = "Something failed";
                }
            });


    }).error((e) => {
        console.error("Keycloak init failed");

    });

</script>
</body>
</html>